<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <appSettings>
        <add key="ServerURI" value="ws://saitanwurst:34837/" />
        <add key="NumEntitesToGenerate" value="1" />
        <add key="ActionDelayMs" value="1000" />
        <add key="EnableMovement" value="true" />
        <add key="EnableRotatation" value="true" />
    </appSettings>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" filename="Client.log" layout="${date:format=HH\:mm\:ss.fff} [${level:uppercase=true}] {${callsite}} ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" />
        </targets>

        <rules>
            <logger name="WebSocketJSON*" minlevel="Info" writeTo="logfile" />
        </rules>
    </nlog>

</configuration>
